# Node.js dependencies
node_modules/
.env
capstone
PROJECT_STRUCTURE.md
# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
storage/

# Optional
package-lock.json
vendor/

vendor/
